<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_titulo">Eliminar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body" id="body_modal">
            <h6>¿Esta seguro que quiere eliminar este estudio?</h6>
            <button id="btn-crear" type="button" class="btn btn-danger float-right mt-3" onclick="enviar_formulario('estudio','eliminacion','', '{{categoria}}', '{{dni}}', '{{id}}')">Confirmar</button>
          </div>
    </div>
  </div>