

    <div class="col">
      <a href="{% url 'pacientes:pacientes_' %}" type="button" class="btn btn-privado btn-primary"><i class="far fa-address-card"></i> Pacientes</a>
    </div>
    <div class="col">
      <a href="{% url 'laboratorio:pag_principal' %}" type="button" class="btn btn-privado btn-outline-primary"><i class="fas fa-home"></i> Inicio</a>
    </div>
    <div class="col">
      <a href="{% url 'estudios:estudios_' %}" type="button" class="btn btn-privado btn-primary"><i class="fas fa-notes-medical"></i> Analisis</a>
    </div>
